<!DOCTYPE html>
<html lang="en">
<script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .panel{
        border-radius: 25px;
        padding: 10px;
    }
</style>
<body>
<div id="app">
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo"><i class="material-icons" style="padding-left: 10px">cloud</i></a>
            <ul class="right">
                <li ><a href="#"><i class="material-icons" @click="showDialog=!showDialog">add</i></a></li>
            </ul>
        </div>
    </nav>

    <div class="modal" style="display: block" v-if="showDialog">
        <div class="modal-content">
            <input type="file" ref="fileInput" v-on:change="handleFileChange">
            <p id="info">{{info}}</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action waves-effect  btn-flat" @click="uploadFile()">UPLOAD</a>
            <a href="#!" class="modal-action waves-effect  btn-flat" @click="showDialog=!showDialog">CANCEL</a>
        </div>
    </div>

    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="col s12 m2 z-depth-5 panel">
                <table class="highlight ">
                    <!--                Title-->
                    <tr>
                        <td>Name</td>
                        <td>Size</td>
                        <td>LastChange</td>
                        <td>Control</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#" @click="fetchList(parentPath)" class="blue-text text-darken-2">
                                <!--回退上一级-->
                                ../
                            </a>
                        </td>
                    </tr>
                    <!--        遍历列表-->
                    <tr v-for="(item,index) in files" :key="index">
                        <td>
                            <div v-if="(item.isFile)">
                                <p @click="download(item.path,item.name)" class="blue-text text-darken-2" style="cursor: pointer;">
                                    {{item.name}}
                                </p>
                            </div>
                            <div v-if="!(item.isFile)">
                                <p @click="fetchList(item.path)" class="blue-text text-darken-2" style="cursor: pointer;">
                                    {{item.name}}
                                </p>
                            </div>
                        </td>
                        <td>
                            <div v-if="(item.isFile)">
                                {{item.size}}
                            </div>
                        </td>
                        <td>{{item.changeDate}}</td>
                        <td>
                            <!--                        控制-->
                            <a href="#" @click="deleteFile(item.path)">删除</a>
                        </td>
                    </tr>
                </table>

            </div>

        </div>
    </div>


</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
<script>
    const app = new Vue({
        el:"#app",
        data:{
            files: [],//文件列表
            parentPath:"",//当前路径的父路径
            nowPath:"",//当前路径
            showDialog:false,//对话框
            selectedFile:null,//选择的文件
            info:"",//上传状态
        },
        mounted:function (){
            this.fetchList("")
        },
        methods: {
            fetchList(path) {
                axios.get('/api/getFiles', {
                    params: {
                        path: path
                    }
                })
                    .then(res => {
                        this.parentPath = res.headers['parent-path'];
                        this.nowPath = path;
                        this.files = res.data;
                    })
                    .catch(error => {
                        console.log(error);
                    })

            },
            download(path,filename){
                axios('/api/download',{
                    params:{
                        path:path
                    },
                    responseType:'blob'
                }).then( res => {
                    const blob = new Blob([res.data], { type: res.headers['content-type'] });
                    const link = document.createElement('a');
                    link.href = URL.createObjectURL(blob);
                    link.download = filename;
                    link.click();
                })
            },
            deleteFile(path){
                axios('/api/delete',{
                    params:{
                        path:path
                    }
                }).then( res => {
                    if (res){
                        alert("SUCCESS");
                        this.fetchList(this.nowPath)
                    }else {
                        alert("ERROR,PLEASE CHECK LOG");
                    }
                })
            },
            handleFileChange(event){
                this.selectedFile = event.target.files[0];
            },
            uploadFile(){
                if (this.selectedFile!=null){
                    const formData = new FormData();
                    formData.append('file', this.selectedFile);

                    this.info = "Uploading....."

                    axios.post('/api/upload', formData, {
                        params:{
                            path:this.nowPath
                        },
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }).then(res => {
                        if (res.data===true){
                            this.info = "OK!"
                            this.fetchList(this.nowPath)
                        }else {
                            this.info = "ERROR!"
                            console.log(res.data)
                        }
                    }).catch(error => {
                        console.error(error);
                    });
                }else {
                    this.info = "File is null."
                }

            }
        }

    });



</script>

</html>